@model web.Models.CartItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CartItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cart_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cart_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
